Button{

    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: gray;
}

#multiply, #divide, #equal, #plus, #minus{
    -fx-background-color:  #ff9a00;
    -fx-text-fill: #ffff;
}

#multiply{
    -fx-font-size: 18px;
}
#divide{
    -fx-font-size: 15px;
}
#minus{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
#plus{
    -fx-font-size: 20px;
}
#equal{
    -fx-font-size: 20px;
}
#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero, #comma{
    -fx-background-color: #D8D8D8;
}
